<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Custom styles for this page -->
        <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul th:replace="backend/component/sidebar :: sidebar"></ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav th:replace="backend/component/nav :: nav"></nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                        <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
                            <div align="center"> <h2>租借品資料管理 - select_page.html</h2>
                                <h3><a class="navbar-brand" th:href="@{/}">回index.html</a></h3>
                            </div>
                        </nav>

                        <h4><span>資料查詢:</span></h4>

                        <!-- 錯誤表列 -->
                        <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
                        <div class="a">
                            <ul>
                                <li><h5><a href='listAllRental'>所有租借品資料</a><br><br></h5></li>

                                <li>
                                    <form method="post" th:action="@{getOne_For_Display}">
                                        選擇租借品編號:
                                        <select name="rentalNo">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo}" />
                                        </select>
                                        <input type="submit" value="送出">
                                    </form><br>
                                </li>

                                <li>
                                    <form method="post" th:action="@{getOne_For_Display}">
                                        選擇租借品名稱:
                                        <select name="rentalNo">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />
                                        </select>
                                        <input type="submit" value="送出">
                                    </form><br>
                                </li>

                                <!--  萬用複合查詢(開始)  -->
                                <li>
                                    <form method="post" th:action="@{listRentalsByCompositeQuery}">
                                        <font color=blue>萬用複合查詢:</font><br>
                                        選擇租借品編號 (ex. 5001):
                                        <select th:field="*{rental.rentalNo}">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />
                                        </select><br>

                                        選擇租借品名稱:
                                        <select th:field="*{rental.rentalName}">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />
                                        </select><br>

                                        選擇租借品尺寸:
                                        <select th:field="*{rental.rentalSize}">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalSize}" />
                                        </select><br>

                                        選擇租借品顏色:
                                        <select th:field="*{rental.rentalColor}">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalColor}" />
                                        </select><br>

                                        選擇租借品狀態:
                                        <select th:field="*{rental.rentalStat}">
                                            <option th:each="rental : ${rentalData}" th:value="${rental.rentalNo}" th:text="${rental.rentalStat}" />
                                        </select><br>

                                        選擇租借品類別編號:
                                        <select th:field="*{RentalCategory.rCatNo}">
                                            <option th:each="RentalCategory : ${rentalCategoryListData}" th:value="${RentalCategory.rCatNo}" th:text="${RentalCategory.rCatNo}" />
                                        </select><br>
                                    </form>
                                </li>
                                <!--  萬用複合查詢(結束)  -->
                            </ul>
                            <h4><span>租借品管理</span></h4>
                            <li><a th:href="@{listAllRental}">List</a> all Rentals. <br> <br></li>
                        </div>
                    <!-- /.container-fluid -->
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer th:replace="backend/component/bottom :: bottom"></footer>
                    <!-- End of Footer -->
                </div>
            <!-- End of Content Wrapper -->
            </div>
        <!-- End of Page Wrapper -->
        </div>
        <!-- Scroll to Top Button-->
        <a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
        <!-- Logout Modal-->
        <div th:replace="backend/component/logout :: logout"></div>

        <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
        <!-- Page level plugins -->
        <script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
        <!-- Page level custom scripts -->
        <script th:src="@{/backend/js/demo/datatables-demo.js}"></script>
    </body>
</html>