<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增租借品資料</h6>
                    </div>
                    <!-- 錯誤表列 -->
                    <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
                    <div class="a">
                        <ul>
                            <form method="post" th:action="@{update}" th:object="${rental}" enctype="multipart/form-data">
                                <li>
                                    租借品編號:
                                    <input type="text" th:field="*{rentalNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
                                </li><br>
                                <li>
                                    輸入租借品名稱:
                                    <input type="text" th:field="*{rentalName}" onclick="hideContent('rentalNo.errors');" /><br/>
                                </li><br>
                                <li>
                                    選擇租借品尺寸:
                                    <select name="rentalSize">
                                        <option>請選擇</option>
                                        <option value="0" th:selected="${rental.rentalSize == 0}">XS</option>
                                        <option value="1" th:selected="${rental.rentalSize == 1}">S</option>
                                        <option value="2" th:selected="${rental.rentalSize == 2}">M</option>
                                        <option value="3" th:selected="${rental.rentalSize == 3}">L</option>
                                        <option value="4" th:selected="${rental.rentalSize == 4}">XL</option>
                                        <option value="5" th:selected="${rental.rentalSize == 5}">2L</option>
                                    </select><br>
                                </li><br>
                                <li>
                                    輸入租借品顏色:
                                    <input type="text" th:field="*{rentalColor}" onclick="hideContent('rentalNo.errors');" /><br/>
                                </li><br>
                                <li>
                                    選擇租借品狀態:
                                    <select name="rentalStat">
                                        <option>請選擇</option>
                                        <option value="0" th:selected="${rental.rentalStat == 0}">上架</option>
                                        <option value="1" th:selected="${rental.rentalStat == 1}">已預約</option>
                                        <option value="2" th:selected="${rental.rentalStat == 2}">已租借</option>
                                        <option value="3" th:selected="${rental.rentalStat == 3}">已歸還</option>
                                        <option value="4" th:selected="${rental.rentalStat == 4}">清潔整理中</option>
                                        <option value="5" th:selected="${rental.rentalStat == 5}">下架</option>
                                    </select><br>
                                </li><br><br>
<!--                                <li>-->
<!--                                    選擇租借品類別編號:-->
<!--                                    <select name="rentalStat" th:field="*{rentalCategory.rentalCatNo}"> &lt;!&ndash;th:field，表單元素&數據綁定&ndash;&gt;-->
<!--                                        <option>請選擇</option>-->
<!--                                        <option th:each="rentalCategory : ${rentalCatListData}" th:value="${rentalCategory.rentalCatNo}" th:text="${rentalCategory.rentalCatName}" />-->
<!--                                    </select>-->
<!--                                </li>-->
                                <input type="submit" value="送出"><!-- 送出成功跳轉listAll -->
                            </form>
                        </ul>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
</body>